.button {
  background: var(--primary-dark-color);
  border: 0;
  border-radius: 25px;
  box-shadow: var(--shadow25);
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: background 3s ease;
}

.button:disabled {
  background: grey;
  color: black;
  cursor: not-allowed;
}
